<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>Welcome to my portfolio website</h1>
            <p align='center'>I am a Front-end Developer with experience in web development.</p>
        </section>
        <section class="about">
            <h2>About Me</h2>
            <div class="about-content">
                <img src="{{ url_for('static', filename='images/profile.jpeg') }}" alt="Profile Picture">
                <p>I am a Front-end Developer with experience in web development I am pursuing a bachelor's degree in information technology and I am passionate about solving challenging problems using technology.</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 - Portfolio Website</p>
    </footer>
</body>
</html>
